[submodule "2015-01-16_linux.conf.au/reveal.js"]
	path = 2015-01-16_linux.conf.au/reveal.js
	url = https://github.com/eset/reveal.js.git
[submodule "2014-11-14_csaw-threads/reveal.js"]
	path = 2014-11-14_csaw-threads/reveal.js
	url = https://github.com/eset/reveal.js.git
[submodule "2014-10-15_linuxcon-europe/reveal.js"]
	path = 2014-10-15_linuxcon-europe/reveal.js
	url = https://github.com/eset/reveal.js.git
[submodule "2015-10-01_virusbulletin/reveal.js"]
	path = 2015-10-01_virusbulletin/reveal.js
	url = https://github.com/eset/reveal.js.git
	branch = eset-theme-2014
[submodule "2015-11-06_hackfest/reveal.js"]
	path = 2015-11-06_hackfest/reveal.js
	url = https://github.com/eset/reveal.js.git
	branch = eset-theme-2014
